<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>group1</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<body style="background-color:lightgreen;">

<h1><center>Hello group 2</center></h1>
<p><center>This is for group 2 users. Welcome!<center></p>
</div>

</body>
</html>